body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0%;
  background-color: rgba(0, 0, 0, 0.09);
}
header {
  display: flex;
  font: menu;
  background-color: hsl(211, 100%, 50%, 0.9);
  border-radius: 1px;
  justify-content: center;
}
.logo {
  position: absolute;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  top: 2px;
  left: 10px;
  width: 60px;
  height: auto;
}
.loginFrm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
}
form {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  background: white;
}
.links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 10px;
}
.links a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
input {
  width: 90%;
  padding: 10px;
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  text-align: center;
}
button {
  width: 90%;
  padding: 10px;
  color: white;
  background-color: hsl(211, 100%, 50%, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}
button:hover {
  background-color: hsl(211, 100%, 50%, 1);
  font-size: 15px;
  cursor: pointer;
}
main {
  flex: 1;
}
footer {
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
}
